.SidebarContainerInvisible {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    transition: transform 0.3s ease-in-out;
    background-color: #f4f4f4;
    height: auto;
    width: auto;
    color: #333333;
  }
  
  .SidebarContainerVisible {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: #f4f4f4;
    transform: translateX(0);
    color: #333333;
    width: 200px;
    min-height: 100%;
  }

  .BotonNavigate{
    font-size: 1.2rem;
    width: 125px;
    background-color: #f26077;
    color: #fff;
    border: 0.1rem solid;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
  }

  .BotonNavigate:hover {
    background-color: #ce0e2d;
  }

  .BotonDespliegue{
    align-self: start;
  }

  .botonera{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;

  }