.MenuContainer{
    display: flex;
    flex-direction: column;
    align-items: start; 
    justify-content: start;
    width: auto;
    transition: transform 0.3s ease-in-out;
    background-color: #c20c28;
    height: 100vh;
    color: #fff;
}

.MenuVisible {
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: start;
    background-color: #c20c28;
    transform: translateX(0);
    width: auto;
    color: #fff;
    height: 100vh;
}

.BotonMenu{
    align-self: end;
}

.Despliegue{
    align-items: center;
}

.DespliegueContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-right: 20px;
}

.LinksDespliegue{
    color: #fff;
    background-color: #c20c28;
    display: flex;
    align-items: end;
    padding: 10px;
}
