.HomeContainer{
    display: flex;
    flex-direction: row;
    color: #000;
    height: 89vh;
}

.RecuadrosHome{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    width: 100%;
    margin: 10px;
    grid-template-areas:
    "cuadro1 cuadro2"
    "cuadro3 cuadro3";
}

.RecuadroUno{
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #0000007a;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* overflow-y: 3%; */
}

.RecuadroDos{
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #0000007a;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

/* .RecuadroDos h3 {
    padding-top: 50px;
} */


.RecuadroTres{
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #0000007a;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    grid-area: cuadro3;
}

.content{
    align-self: center;
    width: 85%;
}

.row-content{
    display: flex;
    justify-content: space-between
}

.chart{
    width: 60%;
    height:auto;
    align-self: center;
}

.menu-dropdown{
    max-height: 300px;
    overflow-y: auto;
}