.DetalleCentroNegociosContainer {
  display: flex;
}

.RecuadroDetalleCentroNegocios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 80vh;
  margin: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow-x: auto;
}

.Titulo {
  padding-bottom: 20px; /* Ajustado el espaciado inferior */
  top: 0;
  background-color: #f9f9f9;
  z-index: 1; /*asegura que el titulo quede encima del contenido*/
}

/* .TablaDetalle{
  padding-left: 250px;
} */

.RecuadroDetalleCentroNegocios table {
  width: 100%;
  border-collapse: separate;
  margin: 20px 0;
}

.RecuadroDetalleCentroNegocios th, .RecuadroListadoObras td {
  border: 1px solid #0000007a;
  padding: 18px;
  text-align: center;
  border-radius: 10px;
}

.RecuadroDetalleCentroNegocios td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
}